[submodule "app/src/main/cpplibs/openssl"]
	path = app/src/main/cpplibs/openssl
	url = https://github.com/openssl/openssl.git
	branch = OpenSSL_1_0_2-stable
[submodule "app/src/main/cpplibs/SimpleJSON"]
	path = app/src/main/cpplibs/SimpleJSON
	url = https://github.com/MJPA/SimpleJSON.git
